{% extends 'base.html' %}
{% block title %}
SAR CPU
{% endblock %}
{% block contents %}
<form action="." method="post">
    {% csrf_token %}
    <select name="ip">
        {% for s in server %}
        <option value="{{ s.ip }}">{{ s.ip }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit" />
</form>
<h1>{{ ip }}</h1>
<div class="flex-container">
    <div class="svg-box">
        <h2>CPU</h2>
        {% include "cpu.html" with ip=ip %}
    </div>
    <div class="svg-box">
        <h2>Memory</h2>
        {% include "mem.html" with ip=ip %}
    </div>
</div>

{% endblock %}
