<svg class="mem" width="500" height="300"></svg>
<script>
var mem_svg = d3.select(".mem"),
    margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = +mem_svg.attr("width") - margin.left - margin.right,
    height = +mem_svg.attr("height") - margin.top - margin.bottom,
    mem_g = mem_svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var parseTime = d3.timeParse("%I:%M:%S%p");

var x = d3.scaleTime().rangeRound([0, width]);
var y = d3.scaleLinear().rangeRound([height, 0]);

var valueline = d3.line()
    .x(function(d) {return x(d.date); })
    .y(function(d) {return y(d.close); });

d3.json("{% url 'get_sar_mem' %}", function(error, data) {
    data.forEach(function(d) {
        d.date = parseTime(d[0].concat(d[1]));
        d.close = +d[4];
    });

    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0,100]);


  mem_g.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
    .select(".mem .domain")
      .remove();

  mem_g.append("g")
      .call(d3.axisLeft(y))
    .append("text")
      .attr("fill", "#000")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", "0.71em")
      .attr("text-anchor", "end")
      .text("user(%)");

  mem_g.append("path")
      .datum(data)
      .attr("fill", "none")
      .attr("stroke", "steelblue")
      .attr("stroke-linejoin", "round")
      .attr("stroke-linecap", "round")
      .attr("stroke-width", 1.5)
      .attr("d", valueline);
});
</script>
